---
import { GLOBAL } from "../../lib/variables";
import DecryptedText from "../widgets/DecryptedText"

---


<div class="flex flex-col items-center sm:flex-row gap-8">
  <img
    src="/avatar.jpg"
    alt="克喵爱吃卤面"
    class="rounded-full max-w-40 w-40 h-40 mb-4 z-0"
  />
  <div>
    <h1
      class="text-3xl sm:text-4xl font-display font-semibold opsz text-center sm:text-left"
    >
      {GLOBAL.username}
    </h1>
    <h2
      class="text-center text-xl sm:text-2xl font-mono font-medium sm:text-left"
    >
      <DecryptedText text="总有些事情高于其他！"
        animateOn="view"
        revealDirection="center"
        client:load />
    </h2>
  </div>
</div>